In [98]:
import pandas as pd
import numpy as np

1. In how many cities Summer Olympics is held so far?

In [99]:
Cities =  pd.read_csv("summer.csv")#Grouping and perform count over each group
cities_num =  Cities.groupby('City')['City'].count()
#print(cities_num)
print(len(cities_num))

22

2. Which sport is having most number of Gold Medals so far? (Top 5)

In [100]:
df = pd.read_csv("summer.csv")
#df.groupby('Sport')['Medal'].count()
Medal_Types = df.groupby(['Country', 'Medal'])['Medal'].count()
Medal_Types = Medal_Types.unstack(level = -1)
Sports_Medals = df.groupby(['Sport', 'Medal'])['Medal'].count()
Sports_Medals = Sports_Medals.unstack(level = -1)
pd.DataFrame(Medal_Types)
Sports_Medals = Sports_Medals.reset_index(drop=False)
Sports_Medals = Sports_Medals.sort_values(by = ['Gold'], ascending = False)
Sports_Medals = Sports_Medals.head(20)
Sports_Medals.head(5)

Medal       Sport  Bronze    Gold  Silver
0        Aquatics  1365.0  1421.0  1384.0
2       Athletics  1199.0  1215.0  1224.0
28         Rowing   888.0   890.0   889.0
17     Gymnastics   731.0   820.0   756.0
14        Fencing   519.0   552.0   542.0

3. Which sport is having most number of medals so far? (Top 5)

In [101]:
df = pd.read_csv("summer.csv")
#df.groupby('Sport')['Medal'].count()
Medal_Types = df.groupby(['Country', 'Medal'])['Medal'].count()
Medal_Types = Medal_Types.unstack(level = -1)
Sports_Medals = df.groupby(['Sport', 'Medal'])['Medal'].count()
Sports_Medals = Sports_Medals.unstack(level = -1)
pd.DataFrame(Medal_Types)
Sports_Medals = Sports_Medals.reset_index(drop=False)
Sports_Medals = Sports_Medals.sort_values(by = ['Gold'], ascending = False)
Sports_Medals = Sports_Medals.head(20)
Sports_Medals.head(5)

Medal       Sport  Bronze    Gold  Silver
0        Aquatics  1365.0  1421.0  1384.0
2       Athletics  1199.0  1215.0  1224.0
28         Rowing   888.0   890.0   889.0
17     Gymnastics   731.0   820.0   756.0
14        Fencing   519.0   552.0   542.0

4. Which player has won most number of medals? (Top 5)

In [102]:
df = pd.read_csv("summer.csv")
#df.groupby('Sport')['Medal'].count()
Medal_Types = df.groupby(['Athlete', 'Medal'])['Medal'].count()
Medal_Types = Medal_Types.unstack(level = -1)
Sports_Medals = df.groupby(['Athlete', 'Medal'])['Medal'].count()
Sports_Medals = Sports_Medals.unstack(level = -1)
pd.DataFrame(Medal_Types)
Sports_Medals = Sports_Medals.reset_index(drop=False)
Sports_Medals = Sports_Medals.sort_values(by = ['Gold'], ascending = False)
Sports_Medals = Sports_Medals.head(20)
Sports_Medals.head(5)

Medal           Athlete  Bronze  Gold  Silver
15702   PHELPS, Michael     2.0  18.0     2.0
11538       LEWIS, Carl     NaN   9.0     1.0
14594      NURMI, Paavo     NaN   9.0     3.0
18886       SPITZ, Mark     1.0   9.0     1.0
11202  LATYNINA, Larisa     4.0   9.0     5.0

5. Which player has won most number Gold Medals of medals? (Top 5)

In [103]:
df = pd.read_csv("summer.csv")
#df.groupby('Sport')['Medal'].count()
Medal_Types = df.groupby(['Athlete', 'Medal'])['Medal'].count()
Medal_Types = Medal_Types.unstack(level = -1)
Sports_Medals = df.groupby(['Athlete', 'Medal'])['Medal'].count()
Sports_Medals = Sports_Medals.unstack(level = -1)
pd.DataFrame(Medal_Types)
Sports_Medals = Sports_Medals.reset_index(drop=False)
Sports_Medals = Sports_Medals.sort_values(by = ['Gold'], ascending = False)
Sports_Medals = Sports_Medals.head(20)
Sports_Medals.head(5)

Medal           Athlete  Bronze  Gold  Silver
15702   PHELPS, Michael     2.0  18.0     2.0
11538       LEWIS, Carl     NaN   9.0     1.0
14594      NURMI, Paavo     NaN   9.0     3.0
18886       SPITZ, Mark     1.0   9.0     1.0
11202  LATYNINA, Larisa     4.0   9.0     5.0

6. In which year India won first Gold Medal in Summer Olympics?

In [104]:
df = pd.read_csv("summer.csv")
#df.groupby('Sport')['Medal'].count()
Medal_Types = df.groupby(['Year', 'Medal'])['Medal'].count()
Medal_Types = Medal_Types.unstack(level = -1)
Sports_Medals = df.groupby(['Athlete', 'Medal'])['Medal'].count()
Sports_Medals = Sports_Medals.unstack(level = -1)
pd.DataFrame(Medal_Types)
Sports_Medals = Sports_Medals.reset_index(drop=False)
#Sports_Medals = Sports_Medals.sort_values(by = ['Gold'], ascending = True)
Sports_Medals = Sports_Medals.head(20)
Sports_Medals.head(5)

Medal                   Athlete  Bronze  Gold  Silver
0                  AABYE, Edgar     NaN   1.0     NaN
1         AALTONEN, Arvo Ossian     2.0   NaN     NaN
2      AALTONEN, Paavo Johannes     2.0   3.0     NaN
3              AAMODT, Ragnhild     NaN   1.0     NaN
4              AANING, Alf Lied     NaN   NaN     1.0

7. Which event is most popular in terms on number of players? (Top 5)

In [105]:
players = pd.DataFrame(df.groupby('Event')['Athlete'].count().reset_index(name = 'Count'))
players.max()

Event    Épée, Masters
Count             1497
dtype: object